
body {
  background-image: url(imagenes/violeta.png);
  margin-left: 2em;
  margin-right: 2em;
}
#titulo {
  background-color: #a4c5e9;
  margin-top: -1.4em;
  text-shadow: 0.25em -0.05em 0.20px white;
  color: #5d59a5;
}
#th1 {
  text-align: center;
}
#cuerpo {
  background-color: #a4c5e9;
  margin-top: -1.15em;
  padding-top: 1em;
}
#cuerpo:after {
  display: table;
  clear: both;
  content: "";}
  #cuerpo:after {
    display: table;
    clear: both;
    content: "";
  }
#primero {
  background-color: white;

}

/* clearfix */
#primero:after {
  display: table;
  clear: both;
  content: "";
}

#imagen {
  border: thin solid black;
  padding: 0.25em;
  margin-left: 1em;
  margin: 0.5em;
  float: left;

}
#texto {
  margin-left: 1em;
  padding-top: 1em;

}
.naranja {
  border: thick dashed white;
  background-color: #f28226;
  font-size: 24px;
  padding: 0.25em;
}
.verde {
  background-image: url(imagenes/verde.png);
  border-radius: 0.3em;
  font-size: 24px;
  padding: 0.25em;
}
.marron {
  background-color: #b45421;
  border-left: 0.1em solid white;
  border-right: 0.1em solid white;
  font-size: 24px;
  padding: 0.25em;
}
.container_verde {
  padding: 1em;
  padding-left: 6em;
  padding-right: 5em;
}
.container_naranja {
  padding: 1em;
  padding-left: 4em;
  padding-right: 7em;
}
.container_marron {
  padding: 1em;
  padding-left: 8em;
  padding-right: 3em;
}
.blanco {
  color: white;
}
.letra {
  color: black;
}
